<div class="header">
  <div class="header_content">
    <a href="http://localhost:3000/log?">
      <img src="#" alt="logo" />
    </a>
    <h1>Affichage des logs</h1>
    <span class="header_end"></span>
  </div>
</div>
